.addingContent{
    background-color: rgb(178, 178, 178);
   
}

.newCand{
    color: rgb(41, 36, 92);
    text-align: left;
    margin-left: 300px;
    margin-bottom: 50px;
    font-weight: lighter;
}
.col{
    width: 60%;
    margin:auto
}
.AddUser{

    border:none ;
    border-radius: 5px;
    background-color: #039aff;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px;
    margin-bottom: 100px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    display: inline-block;
    border-radius: 5px;
   
}
.AddUser:hover{
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}




.gapper{
    margin: 10px;
}
.gapperbig{
    padding-bottom: 50px;
    
}