
.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color:transparent;
    color: #fff;
    padding: 0px;
    margin-right: -14px;
    margin-left: -12px;
  }
  
  
.about {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    background-image: url('../assets/aboutpic.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  
  
  }
.aboutTitle{
    font-size: 300%;
    font-weight:bolder;
    color:#c66317eb;
    text-align: left;
    margin-left: 30px;
    margin-bottom: 0cm;
}
.aboutT1{
    font-size: 150%;
    text-align: left;
    margin-left: 30px;
    color:#c66317eb ;
    margin-top: 0%;
    margin-bottom: 2cm;
}
  
.aboutPara1{
    font-size: 150%;
    font-style:initial;
    font-weight:400;
    color: #000000;
}
  .aboutContent {
    background: rgba(255, 255, 255, 0.221);
    padding: 60px;
    width: 700px;
    height: 600px;
    border-radius: 30px;
    margin-right: 100px;
    margin-left: 580px;
    margin-top: 100px;
    margin-bottom: 50px;
    position: relative;
  }
  